# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.envrc

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert

# Data
data/raw/*
data/processed/*

# VSCode
.vscode/

# Models/outputs
models/*
reports/*
figures/*
